/* General */
* {
	box-sizing: border-box;
}

:root {
	--purple-light-1: #fbfafb;
	--purple-light-2: #eeeaf2;
	--purple-medium-1: #aa83c8;
	--purple-medium-2: #8b48bf;
	--purple-medium-3: #5c218a;
	--purple-dark-1: #3e0f64;
	--purple-dark-2: #2a0646;

	--yellow: #eecc75;
	--green: #cad297;
	--greenLight: #d9e3b7;
	--aqua: #b7eac5;
	--lightBlue: #a2eee5;
	--darkBlue: #8ea2ea;
	--red: #f09d9d;
	--gray: #e5e5e5;
	--grayDark: #b3b3b3;
	--pink: #f7bcbc;
	--yellowLight: #f9e8b3;
	--orange: #f8a083;
	--orangeLight: #eeb882;
	--violet: #c59aff;
	--purple: #a890ff;
	--coffee: #a19090;
	--coffeeLight: #c2b6b6;
	--blue: #5e9cec;
	--redLight: #f6a6a6;

	--font-family-titles: 'Dosis', sans-serif;
	--font-family-text: 'Red Hat Display', sans-serif;
	--font-weight-title1: 800;
	--font-weight-title2: 700;
	--font-weight-text1: 400;
	--font-weight-text2: 500;
}

html {
	background-color: var(--purple-medium-3);
	scroll-behavior: smooth;
}

body {
	background-color: var(--purple-light-1);
	color: var(--purple-dark-2);
	font-family: var(--font-family-text);
	font-weight: var(--font-weight-text1);
	font-size: 16px;
	margin: 4px 0 0 0;
	padding: 0;
}

h1,
h2,
h3 {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	font-size: 24px;
	color: var(--purple-dark-2);
	font-family: var(--font-family-titles);
	font-weight: var(--font-weight-title1);
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 18px;
	color: var(--purple-dark-1);
	font-weight: var(--font-weight-title2);
}

h3 {
	color: var(--purple-dark-2);
	font-weight: var(--font-weight-text2);
	font-size: 16px;
}

input {
	background-color: var(--purple-light-2);
	color: var(--purple-medium-2);
	border: none;
	font-size: 18px;
	padding-left: 16px;
}

input::placeholder {
	color: var(--purple-medium-1);
	font-family: var(--font-family-text);
}

button {
	background-color: var(--purple-dark-1);
	border: none;
	color: var(--purple-light-2);
	font-weight: var(--font-weight-text2);
	font-size: 14px;
	cursor: pointer;
}

.header-searchForm button svg {
	width: 50%;
	height: 50%;
}

/* Shared */
.header-container,
.trendingPreview-header,
.categoriesPreview-container {
	padding: 0 24px;
}

.trendingPreview-container,
.categoriesPreview-container,
footer {
	margin-top: 48px;
}

.trendingPreview-header,
.categoriesPreview-title {
	margin-bottom: 24px;
}

.movie-container {
	cursor: pointer;
}

.movie-img {
	border-radius: 8px;
}

.categories-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	flex-wrap: wrap;
}

/* Header */
.header-container {
	padding-top: 40px;
}

.header-container--long {
	background-image: url('https://pics.filmaffinity.com/Deadpool-777527803-large.jpg');
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%),
		url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
	background-size: cover !important;
	height: 480px;
	position: fixed;
	top: 0;
	width: 100%;
}

.header-container--categoryView {
	background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
}

.header-title {
	margin-bottom: 16px;
}

.header-arrow {
	font-weight: var(--font-weight-text2);
	font-size: 36px;
	margin-bottom: 16px;
	cursor: pointer;
	display: inline-block;
}
.header-arrow--white {
	color: var(--purple-light-1);
}

.header-searchForm {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-wrap: nowrap;
}

.header-searchForm input {
	height: 48px;
	width: 100%;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.header-searchForm button {
	width: 56px;
	height: 48px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

/* Trending */
.trendingPreview-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.trendingPreview-btn {
	border-radius: 8px;
	height: 32px;
	width: 72px;
}

.trendingPreview-movieList {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	height: 241px;
	padding-left: 24px;
	padding-bottom: 16px;
}

.trendingPreview-movieList .movie-container {
	display: inline-block;
	margin-right: 8px;
}

.trendingPreview-movieList .movie-container .movie-img {
	height: 225px;
	min-height: 225px;
	max-height: 225px;
	width: 150px;
	min-width: 150px;
	max-width: 150px;
}

/* Categories */
.categoriesPreview-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
	grid-gap: 1rem;
	margin-top: 2rem;
}

.category-container {
	display: flex;
	align-items: center;
	gap: 10px;
	cursor: pointer;
}

.category-container:hover .category-title {
	color: var(--purple-medium-2);
}

.category-container span {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 8px;
}

.category-title {
	margin: 0;
}

/* Color genres */
.category-genre-28 {
	background: var(--yellow);
}

.category-genre-12 {
	background: var(--green);
}

.category-genre-16 {
	background: var(--lightBlue);
}

.category-genre-35 {
	background: var(--darkBlue);
}

.category-genre-80 {
	background: var(--red);
}

.category-genre-99 {
	background: var(--aqua);
}

.category-genre-18 {
	background: var(--gray);
}
.category-genre-10751 {
	background: var(--blue);
}
.category-genre-14 {
	background: var(--purple);
}
.category-genre-36 {
	background: var(--yellowLight);
}
.category-genre-27 {
	background: var(--coffeeLight);
}
.category-genre-10402 {
	background: var(--orangeLight);
}
.category-genre-9648 {
	background: var(--violet);
}
.category-genre-10749 {
	background: var(--pink);
}
.category-genre-878 {
	background: var(--coffee);
}
.category-genre-10770 {
	background: var(--orange);
}
.category-genre-53 {
	background: var(--greenLight);
}
.category-genre-10752 {
	background: var(--grayDark);
}
.category-genre-37 {
	background: var(--redLight);
}

/* Generic List (search, trending & category) */
.genericList-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	place-items: center;
	grid-gap: 15px;
	padding: 32px 24px;
}

.genericList-container .movie-img {
	width: 100%;
}

/* Movie Detail */
.movieDetail-container {
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	padding: 32px 24px;
	margin-top: 403px;
	z-index: 1;
	position: absolute;
	background-color: var(--purple-light-1);
}

.movieDetail-title {
	display: inline-block;
	width: 80%;
	margin: 0 0 16px 0;
	padding: 0;
}

.movieDetail-score {
	display: inline-block;
	text-align: right;
	width: 18%;
	font-weight: var(--font-weight-title2);
}
.movieDetail-score::before {
	content: '★';
	color: var(--yellow);
	padding-right: 4px;
}

.movieDetail-description {
	margin: 0 0 24px 0;
}

.relatedMovies-container {
	margin-top: 24px;
	height: 216px;
}

.relatedMovies-title {
	margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
	position: absolute;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	width: calc(100vw - 24px);
	padding-bottom: 16px;
}

.relatedMovies-scrollContainer .movie-container {
	display: inline-block;
	margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-img {
	width: 125px;
	min-width: 125px;
	max-width: 125px;
	height: 187.5px;
	min-height: 187.5px;
	max-height: 187.5px;
}

/* Footer */
footer {
	background-color: var(--purple-medium-3);
	color: var(--purple-light-2);
	text-align: center;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Navigation */
.inactive {
	display: none;
}

@media screen and (min-width: 800px) {
	.trendingPreview-movieList {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		place-items: center;
		grid-gap: 15px;

		padding-right: 24px;
		overflow: hidden;
		white-space: nowrap;
		height: auto;
	}

	.trendingPreview-movieList .movie-container .movie-img {
		height: auto;
		max-height: none;
		width: auto;
		max-width: none;
		width: 100%;
	}

	.trendingPreview-movieList .movie-container {
		margin-right: 0;
	}
}
